:root {
     /* LinkedIn THEME COLORS */
     --lki-body-bg: #000000;
     --lki-section-bg: #1b1f23;
     --lki-section-border: #232222;

     /* Kilogram THEME COLORS */
     --kg-body-bg: ;
     --kg-section-bg: ;
     --kg-div-bg: ;
     --kg-section-border: ;
     --kg-div-border: ;

     /* FONT SIZES */
     --font-12: clamp(.65rem, calc(.6vw + .6rem), .75rem);
     --font-14: clamp(.6875rem, calc(.6vw + .6rem), .875rem);
     --font-16: clamp(.75rem, calc(.65vw + .65rem), 1rem);
     --font-18: clamp(.875rem, calc(.75vw + .75rem), 1.125rem);
}

html *,
html *::before,
html *::after {
     box-sizing: border-box;
     font: var(--font-14) system-ui;
     margin: 0;
     padding: 0;
}

body {
     align-items: center;
     background-color: var(--lki-body-bg);
     color: white;
     display: grid;
     grid-template-columns: 88vw;
     grid-template-rows: 8vh 92vh;
     justify-content: center;
}

header {
     align-items: center;
     display: flex;
     flex-direction: row;
     grid-row: 1;
     justify-content: space-between;
}     

h1 {
     color: #999999;
     font: bolder var(--font-18) monospace;
     line-height: 8vh;
}     

main {
     display: grid;
     grid-row: 2;
     grid-template-columns: 20vw 34vw 28vw;
     grid-template-rows: 88vh;
     justify-content: space-between;
}     

.container {
     align-items: center;
     background-color: var(--lki-section-bg);
     border: 1px solid var(--lki-section-border);
     border-radius: 8px;
     color: rgba(255, 255, 255, 0.1);
     display: grid;
     grid-template-rows: 4vh 1fr;
     justify-content: center;
}

h2 {
     grid-row: 1;
     font: bolder var(--font-16) monospace;
     height: 4vh;
     line-height: 4vh;
     text-align: center;
}

#profile {
     grid-column: 1;
     grid-template-columns: 18vw;
}

#feeds {
     background-color: #000000;
     border: none;
     color: #ffffff25;
     grid-column: 2;
     grid-template-columns: 1fr;
}

#posts {
     border-radius: 8px;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     gap: 2vh;
     grid-row: 2;
     height: 84vh;
     overflow: scroll;
     scrollbar-width: none;
}     

article {
     align-items: center;
     background-color: var(--lki-section-bg);
     border: 1px solid var(--lki-section-border);
     border-radius: 8px;
     color: #ffffffaa;
     display: grid;
     /* gap: 1vh; */
     grid-template-columns: 32vw;
     grid-template-rows: 8vh 4vh 1fr;
     height:max-content;
     justify-content: center;
}

aside {
     grid-column: 3;
}               
